*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Poppins;
}
.main{
    background-color: #609042;
    width: 100%;
    /* height: 6%; */
    overflow: hidden;
}
.main a{
    font-size: 1rem;
    padding: .5vw;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid img{
    width: 80%;
    margin-left: 1vw;
}
.btn1{
    /* display: flex; */
    position: relative;
    right: -5.5%;
}
.btn1 :nth-child(2){
    color: #FFFFFF;
}
.page1{
    width: 100%;
    /* height: 28vw; */
}
.page1 img{
    width: 100vw;
    height: 28vw;
}
.page2{
    width: 100%;
    /* height: 75vw; */
}
.frame1{
    width: 90%;
    /* height: 20vw; */
    margin: 5vw;
}
.frame1 img{
    height: 7vw;
    width: 7vw;
    position: relative;
    right: -48%;
}
.frame1 h1{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.frame1 p{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame2{
    width: 90%;
    /* height: 60vw; */
    margin: 5vw;
    display: flex;
    gap: 5vw;
}
.fill{
    width: 47.5%;
    /* height: 55vw; */
    padding: 2vw;
    border: 2px solid #01abda;
    border-radius: 1vw;
    font-size: 1rem;
}
.fill img{
    height: 5vw;
    width: 16vw;
}

.form-group select{
    font-size: 1rem;
}
#inputEmail4{
    width: 100%;
    /* height: 3vw; */
}
.row{
    /* height: 6vw; */
    width: 100%;
}
.toll{
    width: 42.5%;
    /* height: 28vw; */
    /* background-color: #094a6d; */
    border-radius: 2vw;
}
.toll img{
    width: 42.5vw;
    height: 28vw;
}
#formGroupExampleInput{
    /* height: 3vw; */
    width: 100%;
}

.page3{
    width: 100%;
    /* height: 40vw; */
}
.liv{
    width: 100%;
    background-color: #094a6d;
}
.liv img{
    width: 100%;
    /* height: 5%; */
}
.frame20{
    width: 100%;
    /* height: 90%; */
    position: relative;
    background-color: #094a6d;
    padding: 2vw;
    top: 0%;
}
.group1{
    width: 100%;
    /* height: 22vw; */
    display: flex;
    justify-content: space-between; 
    padding-right: 3vw;
    padding-left: 5vw;
    position: relative;
    top: 23%;
}
.group2{
    width: 29%;
    /* height: 22vw; */
}
.group2 img{
    width: 17vw;
    height: 5vw;
}
.group2 p{
    font-size: 1rem;
    margin-top: 2vw;
    color: #FFFFFF;
}
.group3{
    width: 50%;
    /* height: 22vw; */
    /* background-color: red; */
    display: flex;
    gap: 2vw;
    padding: 1vw;
}
.core1{
    display: inline-grid;
    /* width: 30vw; */
}
.core1 h1{
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.core1 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.core1 a:hover{
    color: #FEFEFE;
}
.core2{
    display: inline-grid;
}
.core2 h1{
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.core2 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.core2 a:hover{
    color: #FEFEFE;
}
.core3{
    display: inline-grid;
}
.core3 h1{
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.core3 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.core3 a:hover{
    color: #FEFEFE;
}
.footer{
    width: 100%;
    /* height: 8%; */
    background-color: #609042;
    padding: 1vw;
    overflow: hidden;
}
.inline{
    display: flex;
    justify-content: space-between;
}
.write{
    width: 42%;
    /* height: 2vw; */
    position: relative;
    top: 0%;
}
.write a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 6vw;
    font-size: 1rem;
}
.login a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 1vw;
    font-size: 1rem;
}
.login {
    width: 50%;
    /* height: 2vw; */
    /* padding-right: 8vw; */
    position: relative;
    top: 0%;
}
.fill button{
    color: #FFFFFF;
    margin-left: 5vw;
    font-size: 1vw;
    width: 16vw;
    height: 4vw;
}




@media screen  and (max-width: 900px) {
    .frame2{
        display: inline;
    }
    .fill{
        margin: 2vw;
        width: 96%;
    }
    .toll{
        margin-left: 28vw;
    }
    .group1{
        display: inline;
    }
    .group2{
        width: 100%;
    }
    .group2 p{
        text-align: center;
    }
    .group2 img{
        margin-left: 40vw;
    }
    .group3{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .group3 h1{
        text-align: center;
    }
    .group3 a{
        text-align: center;
    }
    .write{
        width: 100%;
    }
    .login{
        width: 100%;
    }
    .inline{
        display: inline;
    }
}