*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Poppins;
}
.main{
    background-color: #609042;
    width: 100%;
    /* height: 3vw; */
}
.main a{
    font-size: 1rem;
    padding: .5vw;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid img{
    width: 80%;
    margin-left: 1vw;
}
.btn1{
    /* display: flex; */
    position: relative;
    right: -5.5%;
}
.btn1 :nth-child(2){
    color: #FFFFFF;
}
.page1{
    width: 100%;
    /* height: 50vw; */
}
.frame1{
    width: 96%;
    margin: 2vw;
    display: flex;
    gap: 2vw;
}
.f1, .f2{
    width: 50%;
}
.f1 img{
    width: 47vw;
    height: 30vw;
}
.f2 h1{
    font-size: 2rem;
   color: #000;
   font-weight: 700;
   text-align: center;
}
.f2 p{
    font-size: 1rem;
   text-align: center;
}
.beverage {
   width: 100%;
}
.beverage img{
   width: 100%;
}
.black{
    font-size: 2rem;
    color: #000;
    font-weight: 700;
}
.page1 button{
    font-size: 1vw;
    color: #FFFFFF;
    position: relative;
    right: -35%;
    margin: 2vw;
}
.page2{
    width: 100%;
    /* height: 108vw; */
    background-color: #f2f9ff;
}
.page2 img{
    width: 100vw;
}
.img1{
    position: relative;
    top: -8%;
}
.img1 img{
    width: 100vw;
}
.frame2{
    width: 100%;
    /* height: 70%; */
    /* padding: 2vw; */
    position: relative;
    /* top: -5%; */
    /* right: -15%; */
}
.frame2 h1{
    font-size: 2rem;
   color: #609042;
   font-weight: 700;
   text-align: center;
}
.frame2 p{
    font-size: 1rem;
   text-align: center;
   margin: 5vw;
}
.box{
    width: 90%;
    margin: 5vw;
    gap: 2vw;
}
.b{
    width: 100%;
    background-color: #FFFFFF;
     border-radius: 2vw;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 2vw;
}
.b h1{
    font-size: 2rem;
    color: #008ed3;
    text-align: left;
    margin: 1vw;
}
.b p{
    font-size: 1rem;
    text-align: left;
    margin: 1vw;
}
.b1{
    width: 100%;
    display: flex;
    gap: 2vw;
    margin-top: 2vw;
}
.b2{
    width: 100%;
    display: flex;
    gap: 2vw;
    margin-top: 2vw;
}
.t, .t1{
    width: 50%;
    background-color: #FFFFFF;
     border-radius: 2vw;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 2vw;

}
.t h1{
    font-size: 2rem;
    color: #008ed3;
    text-align: left;
    margin: 1vw;
}
.t p{
    font-size: 1rem;
    text-align: left;
    margin: 1vw;
}
.t1 h1{
    font-size: 2rem;
    color: #008ed3;
    text-align: left;
    margin: 1vw;
}
.t1 p{
    font-size: 1rem;
    text-align: left;
    margin: 1vw;
}
.page2 button{
    position: relative;
    right: -43%;
    color: #FFFFFF;
    font-size: 1vw;
}
.page3{
    width: 100%;
}
.frame3{
    width: 96%;
    margin: 2vw;
}
.frame3 p{
    font-size: 1rem;
    text-align: center;
    margin: 3vw;
}
.frame3 img{
    width: 50vw;
    height: 25vw;
    position: relative;
    right: -23%;
}
.page3 button{
   font-size: 1vw;
   color: #FFFFFF;
   margin: 2vw;
   margin-left: 45vw;
}
.page4{
    width: 100%;
    /* height: 70%; */
}
.liv{
    width: 100%;
    background-color: #094a6d;
}
.liv img{
    width: 100%;
    /* height: 5%; */
}
.frame20{
    width: 100%;
    /* height: 90%; */
    position: relative;
    background-color: #094a6d;
    padding: 2vw;
    top: 0%;
    overflow: hidden;
}
.group1{
    width: 100%;
    /* height: 22vw; */
    display: flex;
    justify-content: space-between; 
    padding-right: 3vw;
    padding-left: 5vw;
    position: relative;
    top: 23%;
}
.group2{
    width: 29%;
    /* height: 22vw; */
}
.group2 img{
    width: 17vw;
    height: 5vw;
}
.group2 p{
    font-size: 1rem;
    margin-top: 2vw;
    color: #FFFFFF;
}
.group3{
    width: 50%;
    /* height: 22vw; */
    /* background-color: red; */
    display: flex;
    gap: 2vw;
    padding: 1vw;
}
.core1{
    display: inline-grid;
    /* width: 30vw; */
}
.core1 h1{
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.core1 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.core1 a:hover{
    color: #FEFEFE;
}
.core2{
    display: inline-grid;
}
.core2 h1{
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.core2 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.core2 a:hover{
    color: #FEFEFE;
}
.core3{
    display: inline-grid;
}
.core3 h1{
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.core3 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.core3 a:hover{
    color: #FEFEFE;
}
.footer{
    width: 100%;
    /* height: 8%; */
    background-color: #609042;
    padding: 1vw;
    overflow: hidden;
}
.inline{
    display: flex;
    justify-content: space-between;
}
.write{
    width: 42%;
    /* height: 2vw; */
    position: relative;
    top: 0%;
}
.write a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 6vw;
    font-size: 1rem;
}
.login a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 1vw;
    font-size: 1rem;
}
.login {
    width: 50%;
    /* height: 2vw; */
    /* padding-right: 8vw; */
    position: relative;
    top: 0%;
}






@media screen  and (max-width: 900px) {
   .frame1{
    display: inline;
   }
   .f1, .f2{
    margin: 2vw;
    width: 96%;
   }
   .f1 img{
    margin-left: 23vw;
   }
   .b1, .b2{
    display: inline;
   }
   .b{
    margin: 2vw;
   }
   .t, .t1{
    margin: 2vw;
    width: 96%;
   }
    .group1{
        display: inline;
    }
    .group2{
        width: 100%;
    }
    .group2 p{
        text-align: center;
    }
    .group2 img{
        margin-left: 40vw;
    }
    .group3{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .group3 h1{
        text-align: center;
    }
    .group3 a{
        text-align: center;
    }
    .write{
        width: 100%;
    }
    .login{
        width: 100%;
    }
    .inline{
        display: inline;
    }
}