*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Poppins;
}
.main{
    background-color: #609042;
    width: 100%;
    /* height: 3vw; */
}
.main a{
    font-size: 1rem;
    padding: .5vw;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid img{
    width: 80%;
    margin-left: 1vw;
}
.btn1{
    /* display: flex; */
    position: relative;
    right: -5.5%;
}
.btn1 :nth-child(2){
    color: #FFFFFF;
}
.page1{
    width: 100%;
    /* height: 50vw; */
}
.frame1{
    width: 70%;
    /* height: 70%; */
    padding: 2vw;
    position: relative;
    top: -5%;
    right: -16%;
}
.frame1 h1{
    font-size: 2rem;
   color: #609042;
   font-weight: 700;
   text-align: center;
}
.frame1 p{
    font-size: 1rem;
   text-align: center;
}
.frame2{
    width: 70%;
    /* height: 70%; */
    padding: 2vw;
    position: relative;
    /* top: -5%; */
    right: -16%;
}
.frame2 h1{
    font-size: 2rem;
   color: #098fdf;
   font-weight: 700;
   text-align: center;
}
.frame2 p{
    font-size: 1rem;
   text-align: center;
}
.frame2 button{
    position: relative;
    right: -35%;
    color: #FFFFFF;
    font-size: 1vw;
}
.beverage {
   width: 100%;
}
.beverage img{
   width: 100%;
}
.black{
    font-size: 2rem;
    color: #000;
    font-weight: 700;
}
.page2{
    width: 100%;
}
.text{
    width: 70%;
    /* height: 70%; */
    padding: 2vw;
    position: relative;
    /* top: -5%; */
    right: -16%;
    margin-top: 5vw;
}
.text h1{
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}
.text p{
    font-size: 1rem;
    text-align: center;
}
.box{
    width: 84%;
    display: flex;
    gap: 2vw;
    margin-left: 8vw;
}
.b, .b1{
    width: 49%;
    padding: 2vw;
    background-color: #FFFFFF;
     border-radius: 2vw;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.b h1{
    font-size: 2rem;
    color: #609042;
}
.b1 h1{
    font-size: 2rem;
    color: #609042;
}
.b h2{
    font-size: 2rem;
    color: #098fdf;
}
.b p{
    font-size: 1rem;
}
.b1 h2{
    font-size: 2rem;
    color: #098fdf;
}
.b1 p{
    font-size: 1rem;
}
.t, .t1, .t2, .t3, .t4, .t5{
    display: flex;
}
.t img{
    width: 3vw;
    height: 3vw;
}
.t1 img{
    width: 3vw;
    height: 3vw;
}
.t2 img{
    width: 3vw;
    height: 3vw;
}
.t3 img{
    width: 3vw;
    height: 3vw;
}
.t4 img{
    width: 3vw;
    height: 3vw;
}
.t5 img{
    width: 3vw;
    height: 3vw;
}
.page2 button{
    margin: 3vw;
    position: relative;
    right: -32%;
    font-size: 1vw;
    color: #FFFFFF;
}
.page3{
    width: 100%;
}
.liv{
    width: 100%;
    background-color: #094a6d;
}
.liv img{
    width: 100%;
    /* height: 5%; */
}
.frame20{
    width: 100%;
    /* height: 90%; */
    position: relative;
    background-color: #094a6d;
    padding: 2vw;
    top: 0%;
    overflow: hidden;
}
.group1{
    width: 100%;
    /* height: 22vw; */
    display: flex;
    justify-content: space-between; 
    padding-right: 3vw;
    padding-left: 5vw;
    position: relative;
    top: 23%;
}
.group2{
    width: 29%;
    /* height: 22vw; */
}
.group2 img{
    width: 17vw;
    height: 5vw;
}
.group2 p{
    font-size: 1rem;
    margin-top: 2vw;
    color: #FFFFFF;
}
.group3{
    width: 50%;
    /* height: 22vw; */
    /* background-color: red; */
    display: flex;
    gap: 2vw;
    padding: 1vw;
}
.core1{
    display: inline-grid;
    /* width: 30vw; */
}
.core1 h1{
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.core1 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.core1 a:hover{
    color: #FEFEFE;
}
.core2{
    display: inline-grid;
}
.core2 h1{
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.core2 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.core2 a:hover{
    color: #FEFEFE;
}
.core3{
    display: inline-grid;
}
.core3 h1{
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 700;
}
.core3 a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.core3 a:hover{
    color: #FEFEFE;
}
.footer{
    width: 100%;
    /* height: 8%; */
    background-color: #609042;
    padding: 1vw;
    overflow: hidden;
}
.inline{
    display: flex;
    justify-content: space-between;
}
.write{
    width: 42%;
    /* height: 2vw; */
    position: relative;
    top: 0%;
}
.write a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 6vw;
    font-size: 1rem;
}
.login a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 1vw;
    font-size: 1rem;
}
.login {
    width: 50%;
    /* height: 2vw; */
    /* padding-right: 8vw; */
    position: relative;
    top: 0%;
}






@media screen  and (max-width: 900px) {
    .box{
        display: inline;
    }
    .b, .b1{
        margin: 2vw;
        width: 96%;
    }
    .group1{
        display: inline;
    }
    .group2{
        width: 100%;
    }
    .group2 p{
        text-align: center;
    }
    .group2 img{
        margin-left: 40vw;
    }
    .group3{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .group3 h1{
        text-align: center;
    }
    .group3 a{
        text-align: center;
    }
    .write{
        width: 100%;
    }
    .login{
        width: 100%;
    }
    .inline{
        display: inline;
    }
}